body {
  background-color: #ccc;
}

img {
  max-width: 100%;
  display: block;
}

header {
  width: 100%; /* Make the header full width */
  background-color: black; /* Make the top of the page black */
  color: white; /* Ensure text is visible */
  padding: 20px 0; /* Add some padding for spacing */
  text-align: center; /* Center the content */
}

/* Style for links in the header */
header a {
  color: white; /* Ensure links in the header are white */
  text-decoration: none;
  margin: 0 15px; /* Add margin between links */
}

header a:hover {
  text-decoration: underline; /* Adds an underline when hovered */
}

nav {
  width: 100%; /* Full width for the navigation */
  margin-top: 10px; /* Add space between header and nav */
}

nav ul {
  list-style-type: none;
  padding: 0; /* Remove default padding */
  text-align: center; /* Center the navigation items */
}

nav li {
  display: inline; /* Display items inline */
  font-size: 1.25em; /* Font size for nav items */
}

main {
  clear: both;
  background-color: #fff;
  padding: 2%;
  font-size: 1.25em;
}

#weights, #cardio, #training {
  width: 29%;
  float: left;
  margin: 0 2%;
}

#exercises {
  clear: left;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #f2f2f2;
  padding: 1% 2%;
}

#exercises dt {
  font-weight: bold;
}

#exercises dd {
  padding: 0.5% 1% 2% 0;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures the contact section takes up the full height of the viewport */
  text-align: center;
}

#contact h2, #contact h4 {
  margin: 10px 0; /* Add some margin between the elements */
}

#contact a {
  color: #660;
  text-decoration: none;
  font-weight: bold;
}

#contact a:hover {
  text-decoration: underline; /* Adds an underline when hovered over */
}

footer {
  width: 100%; /* Make the footer full width */
  background-color: black; /* Make the bottom of the page black */
  color: white; /* Ensure text is visible */
  padding: 20px 0; /* Add some padding for spacing */
  text-align: center; /* Center the content */
}

/* Style for links in the footer */
footer a {
  color: white; /* Ensure links in the footer are white */
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline; /* Adds an underline when hovered */
}

footer p {
  font-size: 0.75em;
  color: white;
  padding: 0 1em;
}
